
.git*
.*ignore
!.gitignore

# package file
*.zip
*.gz
*.bz2
*.rar
*.tar
*.xz

# temp file
*.log
*.out
*.cache
*.diff
*.patch
*.tmp

# ---> VisualStudioCode
.settings
.vscode*

# ---> Linux
*~
*.o
*.so

# system ignore
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db
*.dll
*.exe

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*
